.navitem-button {
    margin-top: -3px;
    margin-left: 5px;
}

.navitem-button {
    cursor: pointer;
}

.navitem-menu {
    margin-left: 10px;
}

.navitem-name {
    font-size: larger;
    margin-left: 7px;
}

.navitem-name-input {
    margin-left: 7px;
}

.navitem-extra {
    margin-left: 30px;
}
