/*
 * THIS FILE HAS BEEN COPIED FROM KIE UBERFIRE EXTENSIONS UNTIL IS PLACED INTO AN UBERFIRE SHARED MODULE.
 */

.dataGrid td div {
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
