/*
 * THIS FILE HAS BEEN COPIED FROM KIE UBERFIRE EXTENSIONS UNTIL IS PLACED INTO AN UBERFIRE SHARED MODULE.
 */

.pageDetails {
    padding: 4px 8px;
    text-align: center;
}

.button {
    padding: 4px;
    cursor: pointer;
    cursor: hand;
}

.disabledButton {
    cursor: default;
}